<section class="content-header">
  <div class="row">
    <div class="col-8">
      <h1>
        企業名検索
      </h1>
    </div>
    <div class="col-4">
      <%= link_to '新規作成', new_admin_company_path, class: "btn btn-primary" %>
    </div>
  </div>
</section>
<section class="content">
  <%= form_tag admin_customer_index_path, class: "form-row align-items-center mb-2", method: "get" do %>
    <div class="col-12 col-md-4 mb-2">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <input type="text" class="form-control" placeholder="企業名" name="query">
      </div>
    </div>
    <div class="col-6 col-md-1 mb-2">
      <button type="submit" class="btn btn-primary">検索</button>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="box">
        <table class="table table-hover">
          <tr>
            <th>企業名</th>
            <th>　</th>
          </tr>
          <% @companies.each do |company| %>
            <tr>
              <td><%= company.name %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
