<section class="content-header">
  <div class="row">
    <div class="col-8">
      <h1>
        新規企業登録
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= link_to '戻る', :back %>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="offset-3 col-6">
      <%= simple_form_for(@company, url: admin_company_index_path, method: :post) do |f| %>
        <%= f.input :name, label: false, placeholder: "会社名"%>
        <%= f.submit '送信' %>
      <% end %>
    </div>
  </div>
</section>
