<section class="content-header">
  <div class="row">
    <div class="col-xs-8">
      <h1>
        勤怠設定
      </h1>
    </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="w200">時給計算時間単位</th>
                <td>表示のみ(1分単位、15分単位など)</td>
              </tr>
              <tr>
                <th>前払い自動承認</th>
                <td>ON/OFF</td>
              </tr>
              <tr>
                <th>前払い可能額割合</th>
                <td>60%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
