<section class="content-header">
  <div class="row">
    <div class="col-xs-8">
      <h1>
        アルバイト新規登録
      </h1>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <%= simple_form_for(@worker, url: customer_worker_index_path, method: :post) do |f| %>

    <% end %>
  </div>
</section>

