<section>
    <h2>
        よくある質問
    </h2>
    <ul>
        <li>よくある質問タイトル</li>
        <li>よくある質問タイトル</li>
        <li>よくある質問タイトル</li>
        <li>よくある質問タイトル</li>
        <li>よくある質問タイトル</li>
        <li>よくある質問タイトル</li>
    </ul>
</section>