<section class="content-header">
  <div class="row">
    <div class="col-10">
      <h1>
        預かり金
      </h1>
    </div>
    <div class="col-2">
      <%= link_to new_customer_deposit_path do %>
        <button type="button" class="btn btn-primary">預かり金追加</button>
      <% end %>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-body table-responsive no-padding">
        </div>
      </div>
    </div>
  </div>
</section>
