<section class="content-header">
  <div class="row">
    <div class="col-10">
      <h1>
        預かり金の追加
      </h1>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-header">
          鈴木書店
        </div>
        <div class="box-body">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th width="30%">現在の預かり金額</th>
                <td>100,000</td>
              </tr>
            </tbody>
          </table>
          <%= simple_form_for(@deposit, url: customer_deposit_index_path, method: :post) do |f| %>
            <%= f.input :amount, label: "追加する金額"%>
            <%= f.submit '登録' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
