<section class="content-header">
  <div class="row">
    <div class="col-8">
      <h1>
        <%= @customer.name%>編集
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= link_to '戻る', :back %>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="card">
        <div class="card-body">
          <%= simple_form_for(@customer, url: admin_customer_path(@customer.id), method: :put) do |f| %>
            <%= render partial: 'form', locals: { f: f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
