<section class="content-header">
  <div class="row">
    <div class="col-8">
      <h1>
        企業名検索
      </h1>
    </div>
  </div>
</section>

<section class="content">

  <div class="form-row align-items-center mb-2">
    <div class="col-12 col-md-4 mb-2">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>
    </div>
    <div class="col-6 col-md-1 mb-2">
      <button type="submit" class="btn btn-primary">検索</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="box">
        <table class="table table-hover">
          <tr>
            <th>企業名</th>
            <th>　</th>
          </tr>
          <tr>
            <td>鈴木商店</td>
            <td><%= link_to "この企業のアカウントでログイン", '#' %></td>
          </tr>
          <tr>
            <td>佐藤ストア</td>
            <td><%= link_to "この企業のアカウントでログイン", '#' %></td>
          </tr>
          <tr>
            <td>北島コーヒー</td>
            <td><%= link_to "この企業のアカウントでログイン", '#' %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
