/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 */
@import 'bootstrap/dist/css/bootstrap';
@import 'admin-lte/dist/css/AdminLTE';
@import 'admin-lte/dist/css/skins/skin-blue';
@import 'vue2-timepicker/dist/vue2-timepicker';

@import './_trump';

.person-header {
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.content-positioning {
    margin-top: 1em;
    margin-left: 3.75em;
    margin-right: 3.75em;
}

.person-name {
    font-size: large;
    font-weight: bold;
    margin-left: 0.75em;
}

.image-90 {
    horiz-align: center;
    width: 60px;
    height: 60px;
    background-size: 90px 90px;
    margin: 5px;
    border: 1px rgb(218, 218, 218) solid;
}

table {
  width: 100%;
  border-collapse: separate;
  /* border-spacing: 5px 12px; */
  /* padding: 0 8px 8px 0; */
}
td {
  height: 40px;
  vertical-align: middle;
  border-bottom: 2px solid #ddd;
  border-top: unset;
  border-left: unset;
  border-right: unset;
}
