<header class="main-header">
  <%= link_to root_path, class: 'logo' do %>
    <span class="logo-mini"><b>A</b>LT</span>
    <span class="logo-lg"><b>Admin</b>LTE</span>
  <% end %>
  <nav class="navbar navbar-static-top">
  </nav>
</header>
