
<!-- https://qiita.com/mikan3rd/items/ca783769c959a16cc999 -->

<% flash.each do |key, value| %>
<div class="show alert alert-<%= key %>">
  <a href="#" data-dismiss="alert" class="close">×</a>
  <ul>
    <li>
      <%= value %>
    </li>
  </ul>
</div>
<% end %>
